<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/"/>
    <title>@ViewData["Title"] - Dept_Labour_Immi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dept_Labour_Immi.styles.css" asp-append-version="true" />


    @* <meta charset="utf-8" />
    <title>Department Labour Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Plugins css -->
    <link href="theme/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="theme/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css -->
    <link href="theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="theme/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="theme/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- Head js -->
    <script src="theme/assets/js/head.js"></script>*@


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="Laborator.co" />
    <link rel="icon" href="favicon.ico">
    <title>Neon</title>
    <link rel="stylesheet" href="theme/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" id="style-resource-1">
    <link rel="stylesheet" href="assets/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">
    <link rel="stylesheet" href="theme/assets/css/bootstrap.css" id="style-resource-4">
    <link rel="stylesheet" href="theme/assets/css/neon-core.css" id="style-resource-5">
    <link rel="stylesheet" href="theme/assets/css/neon-theme.css" id="style-resource-6">
    <link rel="stylesheet" href="theme/assets/css/neon-forms.css" id="style-resource-7">
    <link rel="stylesheet" href="theme/assets/css/custom.css" id="style-resource-8">
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script src="theme/assets/js/jquery-1.11.3.min.js"></script> <!--[if lt IE 9]><script src="theme/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->



</head>
<body class="page-body page-fade">

    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <div class="logo">
                        <a href="">
                            <img src="theme/assets/images/MOLIP.jpg" width="80" alt="" />
                        </a>
                    </div>
                    <div class="sidebar-collapse">
                        <a href="#" class="sidebar-collapse-icon">
                            <i class="entypo-menu"></i>
                        </a>
                    </div>
                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="#" class="with-animation"> <i class="entypo-menu"></i> </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    <li class="has-sub">
                        <a href="">
                            @*https://demo.neontheme.com/dashboard/main/*@
                            <i class="entypo-gauge"></i>
                            <span class="title">ဆောင်ရွက်ချက်များ </span>
                        </a>
                        <ul>

                            <li>
                                <a asp-area="" asp-controller="Blacklists" asp-action="index">
                                        <span class="title">Black Lists</span></a> 
                             </li>
                            <li>
                                <a asp-area="" asp-controller="OpearationOne" asp-action="index">
                                    <span class="title">Opearation One</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="https://demo.neontheme.com/layouts/layout-api/">
                            <i class="entypo-layout"></i><span class="title">ထည့်သွင်းခြင်း</span>
                        </a>
                        <ul>
                             <li>
                                <a asp-area="" asp-controller="BODs" asp-action="index">
                                    <span class="title">BOD</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="ThaiCompanies" asp-action="index">
                                    <span class="title">Thai Company</span>
                                </a>
                            </li>

                             <li>
                                <a asp-area="" asp-controller="Agencies" asp-action="index">
                                    <span class="title">Agency</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="WorkType" asp-action="index">
                                    <span class="title">Work Type</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                 </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-6 col-sm-8 clearfix">
                    <ul class="user-info pull-left pull-none-xsm">
                      @*  <li class="profile-info dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="https://demo.neontheme.com/assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />
                                John Henderson
                            </a>
                            <ul class="dropdown-menu">
                                <li class="caret"></li>
                                <li>
                                    <a href="https://demo.neontheme.com/extra/timeline/">
                                        <i class="entypo-user"></i>
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://demo.neontheme.com/mailbox/main/">
                                        <i class="entypo-mail"></i>
                                        Inbox
                                    </a>
                                </li>
                                <li>
                                    <a href="https://demo.neontheme.com/extra/calendar/">
                                        <i class="entypo-calendar"></i>
                                        Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="entypo-clipboard"></i>
                                        Tasks
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    </ul> 
                    <ul class="user-info pull-left pull-right-xs pull-none-xsm">
                       @* <li class="notifications dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-attention"></i> <span class="badge badge-info">6</span> </a>
                            <ul class="dropdown-menu">
                                <li class="top">
                                    <p class="small">
                                        <a href="#" class="pull-right">Mark all Read</a>
                                        You have <strong>3</strong> new notifications.
                                    </p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller">
                                        <li class="unread notification-success">
                                            <a href="#">
                                                <i class="entypo-user-add pull-right"></i> <span class="line"> <strong>New user registered</strong> </span> <span class="line small">
                                                    30 seconds ago
                                                </span>
                                            </a>
                                        </li>
                                        <li class="unread notification-secondary">
                                            <a href="#">
                                                <i class="entypo-heart pull-right"></i> <span class="line"> <strong>Someone special liked this</strong> </span> <span class="line small">
                                                    2 minutes ago
                                                </span>
                                            </a>
                                        </li>
                                        <li class="notification-primary">
                                            <a href="#">
                                                <i class="entypo-user pull-right"></i> <span class="line"> <strong>Privacy settings have been changed</strong> </span> <span class="line small">
                                                    3 hours ago
                                                </span>
                                            </a>
                                        </li>
                                        <li class="notification-danger">
                                            <a href="#">
                                                <i class="entypo-cancel-circled pull-right"></i> <span class="line">
                                                    John cancelled the event
                                                </span> <span class="line small">
                                                    9 hours ago
                                                </span>
                                            </a>
                                        </li>
                                        <li class="notification-info">
                                            <a href="#">
                                                <i class="entypo-info pull-right"></i> <span class="line">
                                                    The server is status is stable
                                                </span> <span class="line small">
                                                    yesterday at 10:30am
                                                </span>
                                            </a>
                                        </li>
                                        <li class="notification-warning">
                                            <a href="#">
                                                <i class="entypo-rss pull-right"></i> <span class="line">
                                                    New comments waiting approval
                                                </span> <span class="line small">
                                                    last week
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="external"> <a href="#">View all notifications</a> </li>
                            </ul>
                        </li>
                        <li class="notifications dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-mail"></i> <span class="badge badge-secondary">10</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form class="top-dropdown-search"> <div class="form-group"> <input type="text" class="form-control" placeholder="Search anything..." name="s" /> </div> </form>
                                    <ul class="dropdown-menu-list scroller">
                                        <li class="active">
                                            <a href="#">
                                                <span class="image pull-right"> <img src="https://demo.neontheme.com/assets/images/thumb-1@2x.png" width="44" alt="" class="img-circle" /> </span> <span class="line">
                                                    <strong>Luc Chartier</strong>
                                                    - yesterday
                                                </span> <span class="line desc small">
                                                    This ain’t our first item, it is the best of the rest.
                                                </span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="#">
                                                <span class="image pull-right"> <img src="https://demo.neontheme.com/assets/images/thumb-2@2x.png" width="44" alt="" class="img-circle" /> </span> <span class="line">
                                                    <strong>Salma Nyberg</strong>
                                                    - 2 days ago
                                                </span> <span class="line desc small">
                                                    Oh he decisively impression attachment friendship so if everything.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="image pull-right"> <img src="https://demo.neontheme.com/assets/images/thumb-3@2x.png" width="44" alt="" class="img-circle" /> </span> <span class="line">
                                                    Hayden Cartwright
                                                    - a week ago
                                                </span> <span class="line desc small">
                                                    Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="image pull-right"> <img src="https://demo.neontheme.com/assets/images/thumb-4@2x.png" width="44" alt="" class="img-circle" /> </span> <span class="line">
                                                    Sandra Eberhardt
                                                    - 16 days ago
                                                </span> <span class="line desc small">
                                                    On so attention necessary at by provision otherwise existence direction.
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="external"> <a href="https://demo.neontheme.com/mailbox/main/">All Messages</a> </li>
                            </ul>
                        </li>
                        <li class="notifications dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <i class="entypo-list"></i> <span class="badge badge-warning">1</span> </a> <ul class="dropdown-menu">  <li class="top"> <p>You have 6 pending tasks</p> </li>
                                <li> <ul class="dropdown-menu-list scroller"> 
                                    <li> <a href="#"> <span class="task"> <span class="desc">Procurement</span>
                                        <span class="percent">27%</span> </span>
                                        <span class="progress"> <span style="width: 27%;" class="progress-bar progress-bar-success"> 
                                            <span class="sr-only">27% Complete</span> </span> </span> </a> </li> 
                                            <li> <a href="#"> <span class="task"> <span class="desc">App Development</span>
                                                <span class="percent">83%</span> </span> <span class="progress progress-striped"> 
                                                    <span style="width: 83%;" class="progress-bar progress-bar-danger"> 
                                                        <span class="sr-only">83% Complete</span> </span> </span> </a> </li>
                                                        <li> <a href="#"> <span class="task"> <span class="desc">HTML Slicing</span>
                                                            <span class="percent">91%</span> </span> <span class="progress">
                                                                <span style="width: 91%;" class="progress-bar progress-bar-success">
                                                                    <span class="sr-only">91% Complete</span> </span> </span> </a> </li>
                                                                    <li> <a href="#"> <span class="task"> <span class="desc">Database Repair</span>
                                                                        <span class="percent">12%</span> </span> 
                                                                        <span class="progress progress-striped"> 
                                                                            <span style="width: 12%;" class="progress-bar progress-bar-warning"> <span class="sr-only">12% Complete</span> </span> </span> </a> </li> <li> <a href="#"> <span class="task"> <span class="desc">Backup Create Progress</span> <span class="percent">54%</span> </span> <span class="progress progress-striped"> <span style="width: 54%;" class="progress-bar progress-bar-info"> <span class="sr-only">54% Complete</span> </span> </span> </a> </li> <li> <a href="#"> <span class="task"> <span class="desc">Upgrade Progress</span> <span class="percent">17%</span> </span> <span class="progress progress-striped"> <span style="width: 17%;" class="progress-bar progress-bar-important"> <span class="sr-only">17% Complete</span> </span> </span> </a> </li> </ul> </li> <li class="external"> <a href="#">See all tasks</a> </li></ul> </li>*@
                    </ul>
                </div> 
                <div class="col-md-6 col-sm-4 clearfix hidden-xs">
                    <ul class="list-inline links-list pull-right">

                       @* <partial name="_LoginPartial" />*@

                       @* <li>
                            <a href="#" data-toggle="chat" data-collapse-sidebar="1">
                                <i class="entypo-chat"></i>
                                Chat
                                <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                            </a>
                        </li>
                      
                        <li>
                            <a href="https://demo.neontheme.com/extra/login/">
                                Log Out <i class="entypo-logout right"></i>
                            </a>
                        </li>
*@
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">
                                <i class="entypo-chat"></i>
                                Register
                                <span class="badge badge-success chat-notifications-badge is-hidden"></span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">
                                Login <i class="entypo-lgin right"></i>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>@* <hr />*@
            @RenderBody()
        </div>
    </div>


    @*  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dept_Labour_Immi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="BODs" asp-action="index">B-O-D</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ThaiCompanies" asp-action="index">Thai Companies</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Agencies" asp-action="index">Agencies</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Blacklists" asp-action="index">Black Lists</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="OpearationOne" asp-action="Index">Opearation One</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="WorkType" asp-action="index">Work Type</a>
    </li>
    </ul>
    <partial name="_LoginPartial" />
    </div>
    </div>
    </nav>
    </header>*@

    @* <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>*@

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - Dept_Labour_Immi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <!--SuccessModal-->
    <div class="modal" tabindex="-1" role="dialog" id="SuccessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="headerId"></h5>
                    <button type="button" id="SuccessModalCloseBtn" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="Message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="cursor:pointer;" id="SuccessModalBtn" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--SuccessModal-->

    <script src="theme/assets/js/gsap/TweenMax.min.js" id="script-resource-1"></script>
    <script src="theme/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
    <script src="theme/assets/js/bootstrap.js" id="script-resource-3"></script>
    <script src="theme/assets/js/joinable.js" id="script-resource-4"></script>
    <script src="theme/assets/js/resizeable.js" id="script-resource-5"></script>
    <script src="theme/assets/js/neon-api.js" id="script-resource-6"></script>
    <script src="theme/assets/js/cookies.min.js" id="script-resource-7"></script>
    <script src="theme/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js" id="script-resource-8"></script>
    <script src="theme/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js" id="script-resource-9"></script>
    <script src="theme/assets/js/jquery.sparkline.min.js" id="script-resource-10"></script>
    <script src="theme/assets/js/rickshaw/vendor/d3.v3.js" id="script-resource-11"></script>
    <script src="theme/assets/js/rickshaw/rickshaw.min.js" id="script-resource-12"></script>
    <script src="theme/assets/js/raphael-min.js" id="script-resource-13"></script>
    <script src="theme/assets/js/morris.min.js" id="script-resource-14"></script>
    <script src="theme/assets/js/toastr.js" id="script-resource-15"></script>
    <script src="theme/assets/js/neon-chat.js" id="script-resource-16"></script>
    <script src="theme/assets/js/neon-custom.js" id="script-resource-17"></script>
    <script src="theme/assets/js/neon-demo.js" id="script-resource-18"></script>
    <script src="theme/assets/js/neon-skins.js" id="script-resource-19"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
<script>
    $("#SuccessModalCloseBtn").click(function () {
        $("#SuccessModal").modal("hide");
    });
    $("#SuccessModalBtn").click(function () {
        $("#SuccessModal").modal("hide");
    });
</script>
